@{
    ViewBag.Title = "About";
}

<body class="sub_page">

    <section class="about_section about_section2 layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="detail-box pr-md-3">
                        <div class="heading_container">
                            <h2 class="">
                                About the owner
                            </h2>
                        </div>
                        <p class="detail_p_mt">
                            Mr. A does not want his/her name to be shown so he will be called Mr. A he kept the name of his ice cream parlor icesmack the meaning be that he thought a name that could relate to the business he was doing so icesmack came to his mind by researching on the internet for available names with complete social media platforms as I know Mr.A was was not experienced in this type of stuff so he hired and took the help of Umair he researched and found many name like icewallop, icemasher, but icesmack was great in the opinion of Mr.A. ice smack is like a ice smacked like old times with flavor.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box pl-md-3">
                        <img src="~/Theme/images/about-img3.png" class="box_img" alt="about img">
                    </div>
                </div>
            </div>
        </div>
    </section>
                          

     

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box pr-md-3">
                        <img src="~/Theme/images/about-img2.png" class="box_img" alt="about img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box pl-md-3">
                        <div class="heading_container">
                            <h2 class="">
                                About Us
                            </h2>
                        </div>
                        <p class="detail_p_mt">

                            We provide the best homemade recipes you can prepare at home with ease. Have a party you can buy our product ready made from our store for more information you can visit our page for contact us @Html.ActionLink("Contact Us", "Contact", "Home")
                            Dont forget to thank us and give your beautifull feedback on @Html.ActionLink("Feedback for us", "Feedback", "Feedback")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>











</body>