@{
    ViewBag.Title = "Contact";
}
<body class="sub_page">
    <!-- contact section -->
    <section class="contact_section layout_padding2 wow fadeInUp" data-wow-duration="0.5s">

        <div class="container">
            <div class="heading_container">
                <h2>
                    Contact Us
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container pr-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <form action="">
                            <div>
                                <h1>
                                    Timings
                                </h1>
                                
                            </div>
                            <div>
                                <p>Monday - Saturday </p>
                                
                            </div>
                            <div>
                                <p>9:00 AM TO 9:00 PM</p>
                              
                            </div>
                            <div>
                                <p>LAB 3, FIRST FLOOR, APTECH GARDEN , KARACHI</p>
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pl-md-3">
                        <div class="map_container wow fadeInRight" data-wow-delay="2s" data-wow-duration="1s">
                            <div>
                                <iframe class="mymap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28959.221028984088!2d67.0067315395508!3d24.867175000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e6b1566c46f%3A0x65318f4eb62c7aa8!2sAptech%20Computer%20Education%20Garden%20Center!5e0!3m2!1sen!2s!4v1616786499783!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->

</body>